{{ define "Base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/htmx.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ template "Navbar" (arr .Navs )}}
    <main class="px-5 py-10">
        {{ if eq .Content "Home" }}
            {{ template "Home" }}
        {{ else }}
            <div>Salah konten bang</div>
        {{ end }}
        
    </main>
</body>
</html>
{{ end }}